<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="Disk Utility" Manufacturer="CFO" Version="!(bind.fileVersion.BackupUtility.Wpf.exe)" UpgradeCode="969e890d-7733-478e-9add-dc4ebb8bed6a">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
		<MediaTemplate EmbedCab="true"/>

		<Feature Id="Main">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="PublishedFiles" />
		</Feature>
	</Package>
</Wix>
